<?xml version="1.0" encoding="utf-8"?>
<module xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" tags="EPiServerModulePackage">

  <assemblies>
    <add assembly="Forte.EpiImageHotSpots" />
  </assemblies>
  
  <dojo>
    <paths>
      <add name="imagehotspots" path="ClientResources/imagehotspots" />
    </paths>
  </dojo>
</module>
